/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.header {
  height: 104px;
  background-color: #1B1411;
  display: flex;
  padding: 32px 24px 18px 24px;
  align-items: flex-end;
}
.header .left {
  width: 65%;
}
.header .left p {
  color: #F2E1D8;
  font-size: 4.8rem;
  font-weight: 600;
}
.header .right {
  width: 30%;
  display: flex;
  justify-content: end;
  justify-content: space-between;
}
.header .right a {
  font-size: 1.4rem;
  color: #FFFFFF;
  text-decoration: none;
}
.landingPage {
  background-image: url("../img/sati_landing_photo.png");
  background-color: #000000;
  height: 920px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.landingPage .box {
  color: #EEE1CF;
  top: 620px;
  left: 25%;
  position: absolute;
  border-radius: 8px;
  background-color: rgba(27, 20, 17, 0.8);
  width: 776px;
  height: 256px;
  text-align: center;
}
.landingPage .box p:nth-child(1) {
  font-size: 30px;
  margin: 32px auto 0;
  font-weight: bold;
  width: 672px;
  height: 69px;
}
.landingPage .box p:nth-child(2) {
  font-size: 24px;
  width: 552px;
  height: 51px;
  margin: 24px auto;
}
.landingPage .box div {
  margin: auto;
  width: 475px;
  display: flex;
  justify-content: space-between;
}
.landingPage .box div button {
  background-color: #FFB300;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 4px;
  width: 208px;
  height: 36px;
  border: 0;
}
html {
  font-family: 'Montserrat', sans-serif;
}
