.header {
    height: 104px;
    background-color: #1B1411;
    display: flex;
    padding: 32px 24px 18px 24px;
    align-items: flex-end;

    .left {
        width: 65%;
        p {
            color: #F2E1D8;
            font-size: 4.8rem;
            font-weight: 600;
        }
    }

    .right {
        width: 30%;
        display: flex;
        justify-content: end;
        justify-content: space-between;
        a {
            font-size: 1.4rem;
            color: #FFFFFF;
            text-decoration: none;
        }

    }
}